{% extends "app/layout.html" %}

{% block content %}

<div class="text-center"> <!-- Use Bootstrap's text-center class to center-align content -->
    <h1>Dental Clinic Tracking System </h1>
    <p class="lead">Welcome To Our System.</p>
    <!-- Stack the buttons vertically and center-align them -->
    <div class="btn-group-vertical" role="group">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
    </div>
</div>

{% endblock %}
