{% extends "app/layout.html" %}

{% block content %}

<div>
    <br />
    {% if is_dentist %}
         <h2>Dentist Menu</h2>
    {% elif is_patient %}
         <h2>Patient Menu</h2>
    {% endif %}

    <br />
    <table>
    {% if is_dentist %}
        <tr><td>
    <form class="margintop" action='module1' method='GET'>
        <button type="submit" class="btn btn-info">Invoice Approval</button><br />
    </form>
            </td></tr>
            
        <tr><td>
    <form class="margintop" action='module2' method='GET'>
        <button type="submit" class="btn btn-outline-info waves-effect">View Appointment Billing</button><br />
    </form>
        </td></tr>


        <tr><td>
    <form class="margintop" action='module2' method='GET'>
        <button type="submit" class="btn btn-outline-info waves-effect">Invoice Review</button><br />
    </form>
        </td></tr>

    
        <tr><td>
    <form class="margintop" action='module2' method='GET'>
        <button type="submit" class="btn btn-outline-info waves-effect">Make Appointment</button><br />
    </form>
        </td></tr>

    {% elif is_patient %}            
        <tr><td>
    <form class="margintop" action='module3' method='GET'>
        <button type="submit" class="btn btn-info ">Make Payment</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='module4' method='GET'>
        <button type="submit" class="btn btn-outline-info waves-effect">Track Payment</button><br />
    </form>
        </td></tr>

        <tr><td>
    <form class="margintop" action='module4' method='GET'>
        <button type="submit" class="btn btn-outline-info waves-effect">Invoice Review</button><br />
    </form>
        </td></tr>

        <tr><td>
    <form class="margintop" action='module4' method='GET'>
        <button type="submit" class="btn btn-outline-info waves-effect">Make Appointment</button><br />
    </form>
        </td></tr>
                      
    {% else %}            

        <tr><td>
            <p>Undefined User.</p>
        </td></tr>
            
    {% endif %}            
    </table>
</div>

{% endblock %}
 
